.side-popup {
    display: none;
		align-content: center;
    justify-content: center;
    height: 100vs;
    height: 100svh;
		width: max-content;
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(39,52,139);
    background: linear-gradient(180deg, rgba(39,52,139,1) 0%, rgba(49,39,131,1) 100%);
		z-index: 9999999999;
}

.side-popup-active{
	display: grid;
  animation: side-popup-slide-in;
  animation-duration: 1s;
}

.side-popup img {
    max-height: 100vh;
    max-height: 100svh;
    cursor: pointer;
}

#close-side-popup{
    cursor: pointer;
    width: 70px;
    height: 60px;
    position: absolute;
    right: 0;
    transition: padding-bottom 0.2s ease-out;
}
.close-side-popup{
		height: 2px;
    width: 30px;
    background: #e3e3e3;
    position: absolute;
    top: 20px;
    right: 10px;
    transition: scale 0.3s ease-out, color 0.3s ease-out;
}
.side-popup .close-side-popup.first-close {
    rotate: 45deg;
}
.side-popup .close-side-popup.second-close {
    rotate: 315deg;
}

#close-side-popup:hover>* {
    scale: 1.1;
    color: white;
}

.popup-closed {
  animation: side-popup-slide-out;
  animation-duration: 1s;
}

@keyframes side-popup-slide-in {
	from {
  	right: -400px;

  } to {
    right: 0;

  }
}

@keyframes side-popup-slide-out {
	from {
  	right: 0;
    display: grid;
  } to {
    right: -400px;
    display: none;
  }
}
