.footer-rows > .custom-footer {
        padding-top: 0;
}
.footer-rows > .custom-footer>div.extended {
        width: 100%;
}
.container.footer-rows {
    width: 100%;
    max-width: 100%!important;
    padding: 0 !important;

}
.custom-footer {
    border-style: none;
}
.custom-footer>.custom-footer__newsletter {
    margin-top: 10px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: 1fr 50%;
    grid-template-rows: min-content max-content;
    column-gap: 10%;
    background-color: #F5F6F5;
    padding-right: 10%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 20px;
    position: relative;
}
.custom-footer>.custom-footer__newsletter::before {
    content: "";
    position: absolute;
    background: url("https://www.ppcentershop.cz/user/documents/upload/gallery/Footer_newsletter_ppcentershop_natios_04.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 469px;
    height: 328px;
    bottom: 0;
    left: 0;
    z-index: 5;

}
.custom-footer>.custom-footer__newsletter>.newsletter-header {
    grid-row: 1;
    grid-column: 2;
}
.custom-footer>.custom-footer__newsletter>form {
    grid-row: 2;
    grid-column: 2;
}
.custom-footer>.custom-footer__newsletter>.newsletter-header::after {
    content: "Přihlaste se k odběru našeho newsletteru, aby Vám již neutekly žádné akce, slevy ani novinky! Můžete se těšit na pravidelné, časově omezené akce, které jsou dostupné pouze pro naše odběratele.";
    text-align: center;
    display: block;
    padding-bottom: 10px;
}
.custom-footer__newsletter * {
    margin: 0;
}
.custom-footer__newsletter>.newsletter-header> h4 {
    font-size: 20px;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    color: #303233;
    margin-bottom: 20px;
    margin-left: 5px;
    text-align: center;
}
.custom-footer__newsletter>form>fieldset>.validator-msg-holder>input {
    min-height: 50px;
    border-radius: 100px;
    padding-left: 20px;
}
.custom-footer__newsletter>form>fieldset>.validator-msg-holder>input:focus {
    -webkit-box-shadow: 1px 2px 5px 3px rgba(144,104,190,0.3);
    box-shadow: 1px 2px 5px 3px rgba(144,104,190,0.3);
}
.custom-footer__newsletter>form>fieldset>button {
    min-height: 44px;
    border-radius: 50px!important;
    width: 100px;
    right: 3px!important;
    top: 3px!important;
}
.custom-footer__newsletter>form>fieldset br {
    display: none;
}
.custom-footer__newsletter>form>fieldset>div>.form-group {
    font-size: 12px;
    text-align: center;
}

@media (max-width: 1100px) {
    .custom-footer>.custom-footer__newsletter::before {
        width: 375px;
        height: 262px;
    }
    .custom-footer>.custom-footer__newsletter {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 999px) {
    .custom-footer>.custom-footer__newsletter {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        background-color: #F5F6F5;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 20px;
        padding-left: 5%;
        padding-right: 5%;
        position: relative;
    }
    .custom-footer>.custom-footer__newsletter::before {
        display: none;
    }
    .custom-footer__newsletter>form>fieldset>button {
        max-width: 50px;
    }
}
