.velkoobchod-popup {
	position: absolute;
	width: 50%;
	min-height: 50%;
	z-index: 9999;
	background: #9068be;
	margin: 10% 25%;
	border-style: solid;
	border-color: white;
	border-width: 10px;
	text-align: center;
	padding: 5%;
	font-size: 25px;
	color: white;
	display: none;
}
.velkoobchod-popup a {
	color: white;
	font-weight: bold;
}
button.prejitNaVelkoobchod {
	background: #ff8c00;
	border-style: none;
	padding: 10px 20px;
}
button.prejitNaVelkoobchod {
	background: #ff8c00;
	border-style: none;
	padding: 10px 20px;
}
button.zavritPopup {
	padding: 10px 20px;
	border-style: none;
	background: #E91B7D;
}
@media(max-width: 800px) {
	.velkoobchod-popup {
		width: 100%;
		min-height: 100%;
		margin: 0;
		padding: 20% 5%;
	}
	.velkoobchod-popup button {
		margin-top: 10px;
	}
}
