.container {
 	width: 100%;
	max-width: 1712px;
}

#content-wrapper{
	padding: 0 3%;
}

#footer h4{
	display: none;
}
.footer-rows .custom-footer>div{
	width: 100%;
	flex-basis: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer-rows .custom-footer{
	padding-bottom: 0px;
}
#footer,
.footer-bottom-full-width,
.footer-bottom{
	background: #f6f6f6;
}
#footer *{
	color: #343434!important
}
#footer>.container{
	border-bottom-style: solid;
	border-bottom-color: #dedede;
	border-width: 1px;
}

.custom-footer__articles>ul{
	display: flex;
	width: auto;
	gap: 30px;
	justify-content: center;
	flex-wrap: wrap;
}
.footer-bottom{
	justify-content: center;
	gap: 20px;
}

.footer-bottom>span{
	width: auto;
	justify-content: center;
}

/*header*/
@media (min-width:768px) {
	#header .header-top .header-top-wrapper>.site-name {
		order: 1;
		flex-grow: 1;
		margin-left: 210px;
	}
	#header .header-top .header-top-wrapper>.navigation-tools {
		order: 2;
		width: auto;
	}
	#header .header-top .header-top-wrapper>.navigation-tools button {
		font-weight: bold;
	}
	#header .header-top .header-top-wrapper>.navigation-buttons {
		order: 3;
		width: auto;
		padding: 0;
	}
}

@media(max-width:992px) {
	#header .site-name {
		padding: 5px 0 !important;
	}
	#header .header-top,
	#header .header-top .header-top-wrapper {
		height: auto!important;
	}
}

/*produkt*/
#colorbox .advanced-order-suggestion,
#colorbox .products-wrapper {
	display: none;
}
.product .p .image {
	background-color: transparent;
}

.p-detail-full-width #tab-content{
	    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.04);
}

/*Objednavka*/
.p-discount.p-cell {
	display: none;
}
.sidebar-in-cart>*,
#checkoutSidebar>* {
	background: #faf7fd!important;
	border-radius: 20px;
}

.checkout-box {
	background: #faf7fd;
}

.ordering-process .co-box {
	border-top-style: solid;
	border-width: 1px;
	border-radius: 0px!important;
	border-color: #dadada;
}

.shipping-billing-table .radio-wrapper input[type="radio"]+label {
	padding-top: 10px;
	padding-bottom: 10px;
}

.co-shipping-address,
.co-box.co-box-additional {
	padding-top: 20px !important;
}
.show-tooltip.acronym[data-original-title] {
	border-style: none;
}
.show-tooltip.acronym[data-original-title]:hover {
	cursor: auto;
}

.tooltip-inner,
.tooltip-arrow {
	display: none;
}
.cart-content>.delivery-time {
	margin-bottom: 40px;
}

.cart-content>.cart-summary {
	display: none;
}

ol.cart-header>li>a,
ol.cart-header>li>strong{
	font-size: 18px!important;
}
ol.cart-header>li>a::before,
ol.cart-header>li>strong::before{
	width: 40px!important;
	height: 43px!important;
	font-size: 20px!important;
	line-height: 41px!important
}

/*sidebar*/
.sidebar-inner>.banner {
	border-top-width: 1px;
	border-top-style: solid;
	border-color: #dadada;
	margin-top: 20px;
	padding-top: 20px;
}
.sidebar-inner>.client-center-box>ul>li:nth-last-child(-n+3) {
	display: none;
}

/*titulní strana*/
@media(min-width:768px) {
	#content>.product-slider-holder .products-block {
		max-width: 100%;
		transform: translate3d(0,0,0)!important;
	}
	#content>.product-slider-holder .products-block>div {
		max-width:100%;
		position: relative;
		width: 50%!important;
		border-width: 1px;
		border-bottom-style: solid;
		border-color: #dedede;
		padding: 25px 0;
	}
	#content>.product-slider {
		width: 100%!important;
	}
	#content>.product-slider-holder .products-block>.product:nth-last-child(-n+3) {
	    display: none!important
	}
	#content>.product-slider-holder .products-block>.product:nth-child(-n+3) {
	    display: none!important
	}
	#content>.product-slider-holder .products-block>div:nth-child(2n+2) {
		border-right-style: solid;
	}
	#content>.product-slider-holder .products-block>.product:nth-last-child(-n+5) {
		border-bottom-style: none;
	}
	#content>.product-slider-holder .products-block .p {
		display: flex;
		align-items: center;
		flex-direction: row!important;
	}
	#content>.product-slider-holder .products-block .p > a {
		flex-grow: 0;
		flex-shrink: 0;
		width: 120px;
	}
	#content>.product-slider-holder .products-block > div .p .p-in .p-in-in .name > span {
    		font-size: 14px;
	}
	
	#content>.product-slider-holder .flags,
	.product-slider-holder .ratings-wrapper {
		display: none;
	}

	#content>.product-slider-holder .products-block .p .p-in {
		display: flex;
		flex-grow: 1;
		flex-shrink: 1;
		align-items: center;
		width: calc(100% - 70px);
		padding-left: 16px;
		padding-top: 0;
	}

	#content>.product-slider-holder .p-in-in {
		flex-basis: 40%;
	}

	#content>.product-slider-holder .p-bottom {
		flex-basis: 65%;
	}

	#content>.product-slider-holder .products-block > div .p .p-code {
		display: none;
	}

	#content>.product-slider-holder .products-block > div .p .p-in .p-in-in .name {
		-webkit-line-clamp: 4;
		height: auto;
	}

	#content>.product-slider-holder .p-bottom.single-button>div {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	#content>.product-slider-holder .p-bottom.single-button>div>* {
		flex-grow: 1;
	}

	#content>.product-slider-holder .products-block > div .p .p-in .p-bottom > div .prices {
		grid-column: 1;
		grid-row-start: 1;
		grid-row-end: 3;
		flex-wrap: nowrap;
	}
	#content>.product-slider-holder .availability {
		grid-row: 2;
	}
	#content>.product-slider-holder .price-standard::before {
		content: "MPC:";
	}

	#content>.product-slider-holder .product-slider-pagination,
	#content>.product-slider-holder.has-navigation .product-slider-navigation {
		display: none;
	}
	.homepage-group-title.h4{
		margin-top: 0;
		padding-top: 30px;
		margin-bottom: 0px;
	}

	#content>.product-slider-holder.has-navigation{
		padding-bottom: 10px;
	}

	@media(max-width: 1420px) {
		#content>.product-slider-holder .products-block .p > a {
			width: 100px;
		}
		#content>.product-slider-holder .products-block > div .p .p-in .p-in-in .name > span {
			font-size: 14px;
		}
	}

	@media(max-width: 1200px) {
		#content>.product-slider-holder .products-block>div {
		    width: 100%!important;
		}
		#content>.product-slider-holder .products-block>div {
			border-right-style: none!important;
			border-bottom-style: solid!important;
		}
		#content>.product-slider-holder .products-block>.product:nth-last-child(-n+4) {
			border-bottom-style: none!important;
		}
	}
}

/*ORIGINAL UPRAVY PRODUTKY SEKCE*/
/*ZOBRAZIT VÍCE/ ZOBRAZIT MÉNĚ*/
.read-more-state {
	display: none;
}
.read-more-target {
	opacity: 0;
	max-height: 0;
	font-size: 0;
	transition: 0.25s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
	opacity: 1;
	font: inherit;
	max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
	content: 'Zobrazit více';
}
.read-more-state:checked ~ .read-more-trigger:before {
	content: 'Zobrazit méně';
}
.read-more-trigger,
.zobrazitvice {
	/* Tlacitko zobrazit více o produktu na blogu*/
	cursor: pointer;
	display: inline-block;
	padding: 0.2em 2em;
	margin: 1em 0.2em;
	color: #ffffff;
	font-size: 1.6rem;
	line-height: 2;
	background: #9068be;
	border: 1px solid #ddd;
	border-radius: 0.25em;
	font-family: HelvetNowText,sans-serif!important;
	font-style: normal;
}
/*konec ZOBRAZIT VÍCE/ ZOBRAZIT MÉNĚ*/

/* Div to Zoom on hover - filtrační vložky a konvice */
.zoomhover {
	padding: 0;
	transition: transform 0.2s;
	/* Animation */
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.zoomhover:hover {
	cursor: pointer;
}
.zoomhover:active {
	transform: scale(2);
}
/*konec Div to Zoom on hover - filtrační vložky a konvice */

/*Kavy*/
.divProduktu {
	width: 100%;
}
.sekceProduktu:nth-child(odd) {
	background-color: #f6f6f6;
}
.sekceProduktu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 250px;
	border-radius: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.sekceProduktu>* {
	text-align: justify;
}
.sekceProduktu:last-child {
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 30px;
	background-color: white;
	min-height: 0;
}
.sekceProduktu:last-child > .text70procent {
	max-width: 100%;
}

.sekceProduktu>*>table {
	text-align: center;
	line-height: 17px;
	border-spacing: 20px 0;
	table-layout: fixed;
	margin: 30px auto;
	width: 90%;
}
.sekceProduktu>*>table>tbody>tr>td {
	width: 33.333%;
}
.sekceProduktu>*>table>tbody>tr>td>* {
	margin: 5px;
}
.imgVTabulce {
	width: 100%;
}

/*table produkt napr vitamin c*/
.tableProdukt > tbody > tr > td {
	padding: 10px 20px;
	border-width: 1px;
	border-style: outset;
}
.tableProdukt {
	box-shadow: 2px 2px 10px 0 grey;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*overflow scroll*/
.content-wrapper:has(.asset30procentRightSideOverflowNatiosKapsle) {
	overflow-x: hidden;
}

@media screen and (min-width: 1100px) {
	.imghide_pc {
		display: none;
	}
	.text100procent {
		max-width: 90%;
		justify-self: center;
		width: 90%;
	}
	.text70procent {
		max-width: 60%;
		justify-self: center;
		/*padding-right: 3%;*/
		margin-left: 5%;
		margin-right: auto;
	}
	.text70procentStred {
		max-width: 70%;
		justify-self: center;
		padding-left: 2%;
		padding-right: 2%;
	}
	.asset15procentStred {
		max-width: 15%;
		justify-self: center;
	}
	.asset30procent {
		max-width: 30%;
		margin-bottom: -5%;
	}
	.asset30procentBezMarginu {
		max-width: 30%;
		margin: auto;
	}
	.asset30procentRightSideOverflowNatiosKapsle {
		max-width: 55%;
		position: absolute;
		right: -10%;
	}
	.text60procent {
		max-width: 50%;
		justify-self: center;
		margin-left: 5%;
	}
	.text50procent {
		max-width: 45%;
		justify-self: center;
		margin: auto 5% auto auto;
	}
	.text60procentStred {
		max-width: 60%;
		justify-self: center;
		padding-left: 2%;
		padding-right: 2%;
	}
	.text50procentvlevo {
		max-width: 45%;
		justify-self: center;
		margin: auto auto auto 5%;
	}
	.asset40procent {
		max-width: 40%;
		margin: auto;
	}
	.asset15procent {
		max-width: 20%;
		min-width: 10%;
		margin-bottom: -5%;
	}
	.asset25procent {
		max-width: 20%;
		min-width: 20%;
		margin-top: -5%;
	}
	.asset20procentStred {
		max-width: 20%;
		justify-self: center;
	}
	.asset20procent {
		max-width: 15%;
	}

	.asset50procent {
		max-width: 48%;
		margin: auto;
	}
	.asset30procent > span > * {
		max-width: 130%;
	}
	.asset15procent > span > * {
		max-width: 155%;
		max-height: 120%;
		margin-left: -20%;
	}
	.asset25procent > span > * {
		max-width: 150%;
		margin-left: -10%;
	}
	.asset40procent > span > * {
		width: 100%;
	}
	.asset50procent > span > * {
		width: 100%;
	}
	.sekceProduktu:last-child {
		padding-left: 5%;
	}
}
.hideeverywhere {
	display: none;
}

@media screen and (max-width: 1099px) {
	.imghide {
		display: none;
	}
	.text70procent,
	.text100procent {
		max-width: 100%;
		padding: 0 10px;
		justify-self: center;
	}
	.text70procentStred {
		max-width: 100%;
		padding: 0 10px;
		justify-self: center;
	}
	.asset15procentStred {
		max-width: 60%;
		justify-self: center;
	}
	.asset30procent,
	.asset30procentBezMarginu {
		max-width: 70%;
	}
	.asset30procentRightSideOverflowNatiosKapsle {
		max-width: 100%;
	}
	.text60procent,
	.text50procentStred {
		max-width: 100%;
		padding: 0 3%;
		justify-self: center;
	}
	.text50procent {
		max-width: 100%;
		padding: 0 3%;
		justify-self: center;
	}
	.text50procentvlevo {
		max-width: 100%;
		padding: 0 3%;
		justify-self: center;
	}
	.asset40procent {
		max-width: 100%;
	}
	.asset50procent {
		max-width: 100%;
	}
	.asset15procent {
		max-width: 60%;
	}
	.asset25procent,
	.asset20procentStred {
		max-width: 60%;
	}
	.asset30procent > span > * {
		max-width: 100%;
		padding: 10px;
	}
	.asset15procent > span > * {
		max-width: 100%;
		padding: 10px;
	}
	.asset25procent > span > * {
		max-width: 100%;
		padding: 10px;
	}
	.asset40procent > span > * {
		width: 100%;
	}
	.sekceProduktu {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.sekceProduktu>*>table {
		width: 100%;
	}
	.nutricniHodnoty {
		padding-left: 3%;
		padding-right: 3%;
		width: 94%;
	}
	.assetHideMobile {
		display: none;
	}
	.description-inner {
		padding: 0;
	}
}
/*konec kav*/
/*KONEC UPRAVY PRODUTKY SEKCE*/

/*KONTAKTY BLOKY*/
.contact-blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    column-gap: 2%;
}
.contact-block {
    border-radius: 20px;
    background: #F5F6F5;
    padding: 15px 20px 20px 20px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.contact-block> a > span {
    font-weight: 600;
    text-decoration: underline;
}
.contact-block > p {
    margin-bottom: 0;
    font-size: 14px;
}
.contact-block>svg,
.contact-block>svg>image{
    width: 50px;
    height: 50px;
}

/*FAQ*/
.contact-faq-box{
    display: flex;
    column-gap: 2%;
    align-items: flex-start;

}
.contact-faq-nadpis>h4{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    font-family: HelvetNowText,sans-serif;
    color: #9068be;
	margin-top: 60px;
	margin-bottom: 30px;
}
.contact-faq-questions{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.contact-faq-question{
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #8f8f8f;
    padding: 0px 20px 0px 20px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    width: 100%;
}

.contact-faq-question>p{
	margin-bottom: 0px;
	font-weight: 400;
	text-align: left;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.contact-faq-answer{
    position: relative;
}
.contact-faq-answer>p{
    margin-bottom: 10px;
    margin-top: 15px;
    padding: 20px 30px;
    background: #f6f6f6;
    border-radius: 10px;
    text-align: left;
}
.contact-faq-answer>p::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 30px;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-bottom-color: #f6f6f6;
    border-top: 0;
    border-left: 0;

}
.contact-faq-question>p::after{
    content: "\e90e";
    position: absolute;
    right: 20px;
    font-family: shoptet;
    font-style: normal;
    color: #9068be;
	top: 15px;
}
.contact-faq-question.active>p::after{
    content: "\e911";
}
.contact-faq-question>.contact-faq-answer{
    height: 0;
    overflow: hidden;
}
.contact-faq-question.active>.contact-faq-answer{
    height: auto;
}
.contact-faq-answer>p>a{
    font-weight: bold;
    animation: all 0.1s ease-in;
}
.contact-faq-answer>p>a:hover{
    color: #ff8c00;
    text-decoration: underline;
}
.openning-hours-blocks {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
  text-align: center;
	margin-bottom: 20px;
}
.openning-hours-block {
	padding: 15px;
}
.openning-hours-day {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 5px;
}
.openning-hours {
	margin-bottom: 0;
}

@media (max-width:1000px){
	.contact-blocks {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-row-gap: 30px;
		max-width: 350px;
		margin: auto;
	}
	.contact-block{
	}
	.contact-faq-box{
		flex-wrap: wrap;
		padding-left: 2%;
		padding-right: 2%;
	}
	.contact-faq-questions{
		width: 100%;
	}
  .openning-hours-blocks {
    grid-template-columns: 1fr;
    justify-items: left;
    text-align: left;
    margin-bottom: 20px;
  }
	.openning-hours-block {
    padding: 5px;
  }
}

/*uvodni banery*/

.wide-carousel {
	max-width: 1712px;
	margin: 20px auto auto;
	padding: 0 3%;
}

.wide-carousel>#carousel>.carousel-inner {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 1fr;
	min-height: auto!important;
}


.wide-carousel>#carousel>.carousel-inner>div{
	display: block;
}

.wide-carousel>#carousel>.carousel-inner>div:nth-child(1) {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column: 1;
}
.wide-carousel>#carousel>.carousel-inner>div:nth-child(2) {
	grid-row: 1;
	grid-column: 2;

}
.wide-carousel>#carousel>.carousel-inner>div:nth-child(3) {
	grid-row: 2;
	grid-column: 2;
	top: 10px;
}
.wide-carousel>#carousel>.carousel-inner>div:nth-child(2) img,
.wide-carousel>#carousel>.carousel-inner>div:nth-child(3) img{
	max-height: calc(100% - 10px);
	padding-left: 20px;
}
.wide-carousel>.carousel>.carousel-control{
	display: none;
}

.next-to-carousel-banners{
	max-width: 1712px;
	margin: auto;
	padding: 0;
	display: none;
	margin-top: 30px;
    	margin-bottom: 10px;
	gap: 20px;
}

.next-to-carousel-banners>div{
	padding: 0 5px;
}

.next-to-carousel-banners>div,
.wide-carousel>#carousel>.carousel-inner>div{
	transition: all 0.3s ease-in-out
}

.next-to-carousel-banners>div::after,
.wide-carousel>#carousel>.carousel-inner>div::after{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	pointer-events: none;
}

.next-to-carousel-banners>div:hover,
.wide-carousel>#carousel>.carousel-inner>div:hover{
	scale: 1.01;
}
.next-to-carousel-banners>div:hover::after,
.wide-carousel>#carousel>.carousel-inner>div:hover::after{
	opacity: 0.07;
}

@media (max-width: 1420px){
	.wide-carousel>#carousel>.carousel-inner{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr 1fr;
		gap: 10px
	}
	.wide-carousel>#carousel>.carousel-inner>div:nth-child(1){
		grid-column: 1 / 3;
		grid-row: 1;
	}
	.wide-carousel>#carousel>.carousel-inner>div:nth-child(2){
		grid-column: 1;
		grid-row: 2;
	}
	.wide-carousel>#carousel>.carousel-inner>div:nth-child(3){
		grid-column: 2;
		grid-row: 2;
		top: 0;
	}
	.wide-carousel>#carousel>.carousel-inner>div:nth-child(2) img,
	.wide-carousel>#carousel>.carousel-inner>div:nth-child(3) img{
		padding: 0;
	}
}

@media (max-width: 768px){
	.wide-carousel>#carousel>.carousel-inner{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 10px
	}
	.wide-carousel>#carousel>.carousel-inner>div:nth-child(1){
		grid-column: 1;
		grid-row: 1;
	}
	.wide-carousel>#carousel>.carousel-inner>div:nth-child(2){
		grid-column: 1;
		grid-row: 2;
	}
	.wide-carousel>#carousel>.carousel-inner>div:nth-child(3){
		grid-column: 1;
		grid-row: 3;
	}
	.wide-carousel>#carousel>.carousel-inner>div:nth-child(2) img,
	.wide-carousel>#carousel>.carousel-inner>div:nth-child(3) img{
		padding: 0;
	}
	.wide-carousel>#carousel>.carousel-inner>div{
		margin: auto;
	}
}


/*hlavni menu*/
@media (min-width: 768px) {
	.navigation-in>ul>li.ext>ul>li>div>a {
		font-size: 14px;
	}
	.menu-level-2 {
		justify-content: flex-start!important;
	}
	.menu-level-2>li * {
		padding: 0 !important;
		margin: auto;
	}
	.menu-level-3 {
		display: none!important;
	}
	.navigation-in > ul > li.ext > ul > li > a img,
	.navigation-in>ul>li.ext>ul>li>a.menu-image {

		max-width: 76px;
		height: auto;
		max-height: 54px;
	}
	.navigation-in>ul>li.ext>ul>li {
		width: 25%;
		flex-basis: 25%;
	}
	@media (min-width: 1200px) {
		.navigation-in>ul>li.ext>ul>li {
			width: 20%;
			flex-basis: 20%;
		}
	}
	@media (min-width: 1440px) {
		.navigation-in>ul>li.ext>ul>li {
			width: 16.66%;
			flex-basis: 16.66%;
		}
	}
}

/*loga znacky slider*/
@keyframes sliding_logos {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc((-150px - 50px) * 8));
	}
}
.logo_slider {
	height: 150px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: auto;
	display: grid;
	align-items: center;
}
.logo_slide_track {
	animation: sliding_logos 75s linear infinite;
	display: flex;
	gap: 50px;
	width: calc((150px + 50px) * 16);
	/*gap + width x 2pocet znacek */
}
.logo_slide {
	width: 150px;
	display: grid;
	align-items: center;
	background: transparent;
	transition: all 0.3s ease-out;
}
.logo_slide img {
	width: auto;
	max-height: 100px;
	margin: auto;
	padding: 0 10px;
	transition: all 0.3s ease-out;
}
.logo_slide:hover img {
	scale: 1.1;
	transform: translatey(-5px);
}
.homepage-banners-full-width.middle-banners>.banners-content {
	background: #faf7fd;
	margin: 20px 0;
	padding: 20px 0;
}
.homepage-banners-full-width.middle-banners>.banners-content> .banner-wrapper>span {
	padding: 0 32px;
	max-width: 100%;
	width: clamp(300px, 100%, 1712px);
}
.homepage-banners-full-width.middle-banners h2 {
	margin-top: 10px;
	margin-bottom: 10px;
}
@media (max-width: 1420px) {
	@keyframes sliding_logos {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc((-120px - 20px) * 8));
		}
	}
	.logo_slider {
		height: 100px;
	}
	.logo_slide {
		width: 120px;
	}
	.logo_slide img {
		max-height: 90px;
	}
	.logo_slide_track {
		animation: sliding_logos 120s linear infinite;
		display: flex;
		gap: 20px;
		width: calc((120px + 20px) * 16);
		/*gap + width x 2pocet znacek */
	}
}
@media (max-width: 991px) {
	.logo_slide_track {
		flex-wrap: wrap;
		width: 100%;
		animation: none;
		column-gap: 0;
		justify-content: center;
	}
	.logo_slider {
		height: auto;
	}
	.logo_slide_track>div:nth-last-child(-n+8) {
		display: none;
	}
	.logo_slide {
		width: 33%;
		padding: 5px 10px;
	}
}


#order-billing-methods::before{
	content: "Omlouváme se, platba kartou je dočasně nedostupná"
}
.radio-wrapper:has(.name-billingId-70){
	display: none;
}
